:root {
  --primary-color: #6c63ff;
  --secondary-color: #272142;
  --background-color: #f9f7fe;
  --headers-font: "Playfair Display", serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headers-font);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  opacity: 70%;
}
.hero h2 {
  font-family: "Poppins", serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-family: "Poppins", serif;
  font-size: 36px;
  color: var(--secondary-color);
}

.btn-contact {
  background-color: var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  color: white;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-first-project {
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  color: var(--primary-color);
  line-height: 27px;
  padding: 15px 30px;
}
.first-project {
  padding: 120px 60px 0;
}

@media (max-width: 900px) {
  .first-project {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 45px;
    line-height: 1.5;
  }
  h2 {
    font-size: 45px;
  }
  .hero {
    padding: 80px 20px;
  }
}
